* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.supermenu {
    position: relative;
}

.supermenu:hover .submenus {
    display: block;
}


.submenus {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 200px;
    padding: 10px 0;
    background-color: rgb(8, 8, 8);
    z-index: 1000;
}



.submenus li {
    display: block !important;
    width: 200px;
    margin: 0;
    padding: 10px 15px;
    background-color: rgb(8, 8, 8);
}

.submenus li a {
    display: block;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.submenus li:hover {
    background-color: rgb(136, 120, 150);
}



.logo {
    font-size: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    padding-left: 10px;
    font-size: 25px;
    color: white;
}

.logo span {
    color: bisque;
    font-weight: lighter;
    font-style: italic;
}

header ul li {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
}

header ul li a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

header ul li:hover {
    background-color: rgb(136, 120, 150);
    border-radius: 10px;
    transition: all .5s ease-out;
}

header ul li:hover a {
    color: white;
    font-weight: 500;
    font-size: 12px;
}

header button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: #ec7499;
    font-size: 10px;
}

header button:hover {
    font-weight: 900;
    color: white;
}



.btn2,
.btn1 {
    background-color: transparent;
    color: white;
}

button:hover {
    background-color: #19a3c1;
}

.btnitem1 {
    background-color: #30d5a5;
    font-weight: 500;
    color: white;
}

.btnitem2 {
    background-color: white;
    font-weight: 500;
    color: black;
}

.btnitem1,
.btnitem2 {
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnitem1:hover {
    background-color: #0fa178;
    color: white;
}

.btnitem2:hover {
    background-color: rgb(157, 150, 150);
    color: white;
}

.sectioncontent {
    background-image: url('assets/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}


.hero {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background: linear-gradient(135deg,
            rgba(165, 73, 151, 0.8),
            rgba(2, 46, 147, 0.8));
    align-items: center;



    position: relative;
}

.herocontent {
    width: 80%;
    max-width: 1000px;
    text-align: center;
    padding: 35px 40px;
    position: relative;
    z-index: 2;
}

.herocontent h1 {
    font-size: 46px;
    padding: 10px;
    color: #ffffff;
}

.herocontent p {
    font-size: 14px;
    padding: 20px;
    color: #ffffff;
    line-height: 24px;
}

.btns button {
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}





.flexBox {
    display: block;
    gap: 20px;
    background-color: #f1f4fa;
    justify-content: center;
    padding: 30px;
}

.flexchild {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.icons {
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    display: flex;
}

.flexBox hr {
    background-color: red;
    border: none;
    height: 2px;
    width: 40%;
    margin: 15px 0;
}

.flexBox p {
    padding: 8px;
    font-size: 12px;
}

.flexitem1 {
    padding: 10px;
    margin: 10px 0;
    width: inherit;
}

.flexitemspcl {
    background: linear-gradient(135deg, #0a57a2 0%, #9edfc7 100%);
    padding: 10px;
    margin: 10px 0;
    width: inherit;
    border-radius: 20px;
}

.flexitem2 {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    width: 496px;
    height: 116px;
}

.flexitem3 {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    height: 200px;
}

.sectionlearn h3 {
    font-size: 15px;
}

.buttoncontent li {
    padding: 10px 10px;
}

.buttoncontent {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: linear-gradient(135deg, #d0f2c8 0%, #19a3c1 100%);
}

.buttoncontent ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}


.sectionproject {
    padding-right: 15px;
    padding-left: 15px;
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 7px;
}

.sectionproject h3 {
    line-height: 62px;
    font-size: 31px;
}

.sectionproject p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 1rem;
}

.sectionproject ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 635px;
    height: 147px;
    grid-template-columns: repeat(2, 1fr);
    margin: 1%;
    align-items: center;
    line-height: 37px;
}

.blockcon {
    display: flex;
    flex-direction: row-reverse;
    padding: 45px 45px;
    position: relative;
    align-items: center;
}

.imgclass {
    position: relative;
    width: 40%;
}

.imgclass img {
    z-index: 1;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    position: relative;
    left: 0;
}

.blck1 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    background: linear-gradient(135deg, #361291 0%, #e3699a 100%);
    max-width: 310px;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    line-height: 20px;
}


.btn3 {
    background-color: #e3699a;
    border-color: #e3699a;
    color: #ffffff;
}

.btn4 {
    color: #333333;
}

.btn5 {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}

.btn3,
.btn4,
.btn5 {
    font-weight: 400;
    border-width: 2px;
    border-style: solid;
    font-style: normal;
    letter-spacing: 2px;
    margin: .4rem .25rem;
    white-space: normal;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s, .3s, .3s, 2s;
    transition-timing-function: ease-in-out;
    padding: 0.8rem 2rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* word-break: break-word; */
    width: 100%;
}

.btn7 {
    background-color: #30d5a5;
    font-weight: 500;
    color: white;
}

.btn8 {
      background-color: white;
    font-weight: 500;
    color: black;
}


.btn7,
.btn8 {
    font-weight: 400;
    border-width: 2px;
    border-style: solid;
    font-style: normal;
    letter-spacing: 2px;
    margin: .4rem .25rem;
    white-space: normal;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s, .3s, .3s, 2s;
    transition-timing-function: ease-in-out;
    padding: 0.8rem 2rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* word-break: break-word; */
    width: 80%;
}


.line {
    display: inline-block;
    width: 13%;
    height: 4px;
    background-color: #0a193b;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}



.ourteam {
    padding-top: 5rem;
    padding-bottom: 1rem;
    background-color: #dedede;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.ourteam p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imgwrap1 {
    border-radius: 100%;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
    border: 30px solid #5fc7c6;
    width: fit-content;
}

.img1 {
    border: 20px solid #2bb4c5;
    width: fit-content;
    border-radius: 100%;
}

.img1 img {
    border-radius: 100%;
}

.imgcontent {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: -70px;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}

.teammember1 {
    width: 20%;
    margin: 14px 26px;
}

.teamchild {
    display: flex;
}


.signinfo {
    padding: 20px 30px;
    margin: 10px 10px;
    width: 600px;
}

.signformid {
    background: linear-gradient(135deg, #0a57a2 0%, #ccdcff 100%);
    padding: 70px 0;
}

.signform {
    background-color: white;
    padding: 30px;
    border-radius: 2rem;
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.signformcontainer {
    padding: 15px 82px;
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.formid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.signinfo h1 {
    color: white;
}

.signinfo p {
    color: white;
}

.signform h2,
p {
    color: black;
}

.buttoncontents ul {
    list-style-type: none;
}

.signform input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    outline: none;
    color: #780535;
}

.signform h2 {
    text-align: center;
    font-size: 38px;
    padding: 5px;
}

.signform p {
    padding: 5px;
    text-align: center;
}

.btnsubmit button {
    font-size: 18px;
    color: #fff;
    padding: 10px 30px;
    background-color: #30d5a5;
    border-color: #30d5a5;
    border: none;
    border-radius: 10px;
}

.btnsubmit {
    padding: 20px 10px;
}



footer {
    background-color: #0a193b;
    color: #ffffff;
    padding: 70px 60px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.footerbox {
    padding: 20px 30px;
    margin: 10px 0;
    width: 300px;
    color: white;
}

.footerbox p {
    color: white;
}

.footerbox h3 {
    padding: 10px;
    font-size: 18px;
}

.footerbox p {
    padding: 10px;
}

.footerbox ul li {
    list-style-type: none;
    padding: 10px;
}

.footerbox ul li a {
    text-decoration: none;
    color: white;
}

.footerbox ul li a span {
    padding: 0 10px;
    color: #fff;
}

.footerbox ul li a:hover {
    color: #f2f1f2;
}

.menunav {
    display: none;
}

@media (min-width:320px) and (max-width:480px) {

     .menunav {
        display: block;
    }

    .menus {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        z-index: 1000;
    }

    .menus.open {
        display: block;
    }

    .menus ul {
        flex-direction: column;
        padding: 20px;
        margin: 0;
    }

    .menus ul li {
        margin: 10px 0;
    }

    .logo {
        margin-right: 100px;

    }

    .menus {
        display: none;
    }

    .menunav {
        display: block;
    }

    .menu-icon {
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
    }

    header {
        background-color: rgb(12, 12, 12);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header ul li {
        display: block;
    }

    .login button {
        width: 100%;
    }

    .hero {
        padding: 70px 0px;
    }

    .herocontent {
        padding: 10px;
        width: 100%;
    }

    .herocontent h1 {
        font-size: 30px;
    }

    .btns button {
        width: 100%;
        margin: 10px 0;
    }

    .flexBox {
        display: grid;
        justify-content: center;
        gap: 0px
    }

    .flexchild {
        display: block;
    }

    .sectionlearn {
        max-width: inherit;
        background-color: #f1f4fa;
    }

    .flexitem1 {
        width: inherit;
    }

    .icons {

        padding-bottom: 71px;
        display: block;

    }

    .icons,
    .flexitemspcl {
        width: inherit;
    }

    .sectionproject h3 {
        line-height: 49px;
        font-size: 25px;
        width: inherit;
    }

    .sectionproject ul {
        width: inherit;
        line-height: 33px;
        display: block;
        align-items: center;
    }

    .sectionproject p {
        width: inherit;
    }

    .sectionproject {
        width: inherit;
        /* padding-bottom: 67px; */
        padding: 70px 0;
    }

    .imgclass {
        padding-top: 10px;
        width: 100%;
    }

    .imgclass img {
        z-index: 1;
        margin: auto;
        max-width: 100%;
        width: 100%;
        border-radius: 40px;
        position: static;
        left: 0;
    }

    .btn3,
    .btn4,
    .btn5 {
         width: 80%;
    }


    .blck1 {
        position: static;
        transform: none;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .buttoncontent ul {
        display: block;
        text-align: center;
    }

    .blockcon {
        display: block;
        padding: 20px 20px;
    }

    .teamchild {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .imgcontent {
        width: 280px;
    }

    .signformcontainer {
        display: block;
        padding: 15px 15px;
    }

    .signformid {
        /* display: none; */
    }

    .signinfo {
        width: inherit;
    }

    .signinfo p {
        padding: 10px;
        line-height: 18px;
    }

    .signform {
        width: inherit;
        padding: 20px 30px;
        margin: 10px 10px;
        color: #f4f1f3;
    }


    footer {
        padding: 70px 0;
        display: block;
    }

    button {
        width: 100%;
    }

}